<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DbAccessKey" value=""/>
		<add key="DbSecretKey" value=""/>
		<add key="MqttServer" value=""/>
		<add key="MqttPort" value="1883"/>
		<add key="MqttClientId" value=""/>
		<add key="MqttTopic" value="WordFrequency/InputSource"/>
	</appSettings>
</configuration>