<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.400.22" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.401" targetFramework="net472" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net472" />
  <package id="MQTTnet" version="4.3.7.1207" targetFramework="net472" />
</packages>